$bg-black-900: #151515;
$bg-black-100: #222222;
$bg-black-50: #393939;
$text-black-900: #ffffff;
$text-black-700: #e9e9e9;
$line-height: 1.5;
$regular-text: 16px;
$userfont: metro_regular, sans-serif;
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
$transition: .5s cubic-bezier(.42, .61, .58, .41);

// Container & Breakpoints
$containerWidth: 1100 + px;
$containerPadding: 15 + px;


